[Unit]
Description=Override Caps+HJKL to Arrow Keys

[Service]
ExecStart=/usr/local/bin/caps-hjkl
RestartForceExitStatus=2

[Install]
WantedBy=multi-user.target
