[Unit]
Description=Override Caps+IJKL to Arrow Keys

[Service]
ExecStart=/usr/local/bin/caps-ijkl
RestartForceExitStatus=2

[Install]
WantedBy=multi-user.target
